{% extends "base.html" %}
{% load static %}


{% block main_content %}
<div class="container">
    <br>
    <h1 class="col font-blue">Contact Us</h1>
    <br>
    <h5>Our friendly staff are here to help! If you have any questions feel free to call or send us a question be
        filling in this form and we will get back to you as soon as possible.</h5>
    <br>
    <h3>Our Details</h3>
    <a href="https://www.google.com/maps/place/tandemhopp.se+%2F+Skydive+Sweden+AB/@57.7091158,12.5764498,9.5z/data=!4m8!1m2!2m1!1sskydive!3m4!1s0x0:0xa679af9f2731636d!8m2!3d58.0431858!4d12.7887726"
        target="_blank">Vårgårda Airport, 447 91 Vårgårda</a>

    <br>
    <p>Phone +4620121518</p>
    <br>
</div>
<div class="row justify-content-center">
    <div class="custom-container ">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">

                <form class="" method="POST" id="enqiry" action="{% url 'contact-us' %}">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success btn-lg float-right" value="Send Message"
                        name="enquiry-btn">
                </form>
                <br>
            </div>
            <div class="col-md-12 col-lg-6">
                <br>
                <div class="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}