{% extends "base.html" %} {% load static %} {% block main_content %}
<div class="container ">
    <div class="row">
        <h1 class="font-blue">Your Day</h1>
    </div>
    <br>
    <h2>Before</h2>
    <br>
    <div class="row mx-1 px-4 justify-content-center">
        <div class="col-md-12 col-lg-6">
            <p>First book a day and time schudule when you purchase your skydive package.</p>
            <a href="" data-toggle="modal" data-target="#policyModal">Please also read our Policies</a>
            <br>
            <br>
            <h4>Who can jump?</h4>
            <br>
            <ul>
                <li>You are over 18 years old or from 14 years old if a parent is present</li>
                <li>You are under 100 kg</li>
                <li>No health risk (heart, broken bones or pregnancy)</li>
                <li>This is a <b>DRUG AND ALCOHOL</b> free zone</li>
            </ul>
            <br>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="ground"></div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>The Day</h2>
    <br>
    <div class="row mx-1 px-4 justify-content-center">
        <div class="col">
            <p>If the forecast of the day does not look good, we will contact you and re-organise another day with better weather. If the weather is good, please arrive before your schudule time. The schudule time will not be the time you jump but your time
                for a briefing.
                <br>
                <br> After a safety briefing we will have our professional crew suit you up and allow time for some photos with friends and family.
                <br>
                <br> You will then meet our divers who will do a final safety check of equipment before entering the plane.
                <br>
                <br> Our PAC-750 plane will get you to the height of 14 000 feet (around 4 km high) in around 16mins. There you will enjoy the view before the jump.
                <br>
                <br> Our team would brief you in person about what to expect and experience when you first leave the plane for your skydive experience with <b class="font-blue">SKYDIVE GÖTEBORG!</b>
            </p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>After</h2>
    <br>
    <div class="row mx-1 px-4 justify-content-center">
        <div class="col-md-12 col-lg-6">
            <p>
                If you have purchased a film experience with your skydive package, we should have an edited your experience and should be sent to you within a week from your jump!
            </p>
            <br>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="plane-dive"></div>
        </div>
    </div>
</div>
<br> {% endblock %}