{% extends "base.html" %} {% load static %} {% block main_content %}
<div class="row mx-1 px-4 justify-content-center">
    <div class="col-12 col-lg-5 mx-2">
        <h1 class="col font-blue">Whats Tandem Skydiving?</h1>
        <br>
        <p>Do you want to <b class="font-blue">ADVENTURE</b> of a life time?
            <br>
            <br> With our professional crew and no experience needed,
            <b class="font-blue">SKYDIVE GÖTEBORG</b> can make this happen!
            <br>
            <br> With our help, we will fly you to 14,000 feet and let you experience free fall! You will travel around 200k/ph for about a minute, before opening a parachute, and get you safely to the ground.
            <br>
            <br> Check out our deals for a memory you won't forget!
        </p>
    </div>

    <div class="col-12 col-lg-5 mx-2">
        <div class="film text-center">
            <video autoplay controls muted>
                <source src="https://goteborg-skydive.s3.eu-north-1.amazonaws.com/media/film/tandem-example.mp4" type="video/mp4" autoplay= "true">
            </video>
        </div>
    </div>
</div>

{% endblock %}