.top-img {
    background: url('/media/photos/wide_screen.jpg') no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    padding: 0;
    height: auto;
    
}

.welcome-text {
    color: white;
    font-size: 4vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.shift-left-top {
    
    padding-top: 10%;   
}

.shift-left,
.shift-left-top{
    padding-left: 15%;
}

.w-100 { 
    justify-content: center;
}

.text-md {
    font-size: medium;
    font-weight: bold;
}

.nav-item {
    padding-top: 10px;
}

.navbar {
    padding: 0px 5% 0px 10px;
}

.container-fluid {
    padding: 0;
}

.slide-height {
    height: 40vh;
}

.cover {
    margin-top: 50px;
}


.film {
    width: 40vw;
    height: auto;    
}

.film video {
    width: 100%;
    height: 100%;
}


@media (max-width: 991px) {
    .slide-height {
        height: 20vh;
    }
    .welcome-text {
        font-size: 2.5vh;
    }
}