{% load static %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block corecss %}
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Tandem Skydive</title>
</head>

<body>
    <div class="container-fluid fixed-top ">
        <nav class="navbar navbar-expand-md navbar-light bg-white ">
            <a class=" symbol" href="{% url 'home' %}" alt="Göteborg skydive icon"></a>

            <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse px-2" id="main-nav">

                <ul class="navbar-nav ml-auto list-inline text-center">

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link" href="#" id="packages_toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            SkyDive Packages
                        </a>
                        <div class="dropdown-menu " aria-labelledby="packages_toggle">
                            <a class="dropdown-item" href="{% url 'home' %}">Whats Tandem Skydive?</a>
                            <a class="dropdown-item" href="{% url 'day-plan' %}">Your Day</a>
                            <a class="dropdown-item" href="{% url 'skydive-packages' %}">Packages</a>
                        </div>
                    </li>

                    <li class="nav-item ml-auto">
                        <a class="nav-link " href="{% url 'contact-us' %}">
                            Contact Us
                        </a>
                    </li>

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link " href="#" id="account_toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="account_toggle">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'view_bag' %}" class="dropdown-item">Checkout</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item ml-auto shopping-basket"><a class="fa fa-shopping-cart" aria-hidden="true"
                            href="{% url 'view_bag' %}"></a></li>
                </ul>

            </div>

        </nav>
    </div>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    <hr>

    <div class="container-fluid cover">
        <div class="row slide-height ">
            <div class="top-img w-100">
                <div class="row ">
                    <div class="col shift-left-top ">
                        <p class="welcome-text ">Skydive Göteborg</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col shift-left">
                        <a type="button" class="btn btn-success btn-lg" href="{% url 'skydive-packages' %}">Buy a
                            Package!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg">
        <br>
        <br>
        {% block main_content %}
        {% endblock %}

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-blue" id="exampleModalLabel">Skydive Göteborg Policies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg">
                    <h5>Skydive Göteborg moto is 'Safety First!'</h5>
                    <br>
                    <p>As such, we the company insure our equipment, staff and policies aim for the highest quality.</p>
                    <p>While we try to control every aspect of safety, where are things we can not control like the
                        weather.</p>
                    <p>We understand that on a special day, you have booked a Skydive Adventure. But we reserve the
                        right to cancel events if the weather is terrible.</p>
                    <p>Our Staff we help re-organise a day if this is the case.</p>
                    <hr>
                    <p>As a customer and/or jumper, please ensure the following:</p>
                    <ul>
                        <li>All tandem jumpers must bring their ID</li>
                        <li>You are over 18 years old or from 14 years old if a parent is present</li>
                        <li>You are under 100 kg</li>
                        <li>No health risk (heart, broken bones or pregnancy)</li>
                        <li>This is a <b>DRUG AND ALCOHOL</b> free zone</li>
                    </ul>
                    <p>If Skydive Göteborg believes that you are under the influence, you will be asked to take a test.
                        If you refused, Skydive Göteborg will cancel the jump.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>

    {% block postload_js %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>
<br>

</html>